<!-- <div class="login-wrapper">
  <div class="login-box">
    <h2>Login</h2>
    <form >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          required
          placeholder="Enter your email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          required
          placeholder="Enter your password"
        />
      </div>

      <button type="submit" >Login</button>

      <p class="signup-link">
        Don't have an account?
        <a routerLink="/signup">Sign up</a>
      </p>
    </form>
  </div>
</div> -->

<!-- (ngSubmit)="onLogin()" #loginForm="ngForm" -->
<div class="auth-bg-wrapper">
  <div class="d-flex justify-content-center align-items-center min-vh-100">
    <div
      class="form-container bg-white rounded-4 shadow p-4 w-100"
      style="max-width: 400px; border: 1px solid #97adc2"
    >
      <h3 class="text-center mb-4 fw-bold">
        {{ isLogin ? "Login Form" : "Signup Form" }}
      </h3>

      <div class="d-flex mb-4 toggle-buttons">
        <button
          class="btn w-50 rounded-start toggle-btn"
          [class.active]="isLogin"
          (click)="switchMode(true)"
        >
          Login
        </button>
        <button
          class="btn w-50 rounded-end toggle-btn"
          [class.active]="!isLogin"
          (click)="switchMode(false)"
        >
          Signup
        </button>
      </div>

      <form (ngSubmit)="onSubmit()" [formGroup]="authForm" novalidate>
        <div class="mb-3" *ngIf="!isLogin">
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            formControlName="name"
            required
            [ngClass]="{
              'is-invalid': isSubmitted && authForm.get('name')?.invalid
            }"
          />

          <div
            class="invalid-feedback"
            *ngIf="isSubmitted && authForm.get('name')?.hasError('required')"
          >
            Name is required.
          </div>
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="Email Address"
            formControlName="email"
            required
            [ngClass]="{
              'is-invalid': isSubmitted && authForm.get('email')?.invalid
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="isSubmitted && authForm.get('email')?.hasError('required')"
          >
            Email required.
          </div>

          <div
            class="invalid-feedback"
            *ngIf="isSubmitted && authForm.get('email')?.hasError('email')"
          >
            Please enter a valid email address.
          </div>
        </div>

        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            required
            [ngClass]="{
              'is-invalid': isSubmitted && authForm.get('password')?.invalid
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              isSubmitted && authForm.get('password')?.hasError('required')
            "
          >
            Password required.
          </div>
        </div>

        <div class="mb-3" *ngIf="!isLogin">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            required
            [ngClass]="{
              'is-invalid':
                isSubmitted &&
                (authForm.get('confirmPassword')?.invalid ||
                  authForm.hasError('passwordMismatch'))
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              isSubmitted &&
              authForm.get('confirmPassword')?.hasError('required')
            "
          >
            Confirm Password required.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              isSubmitted &&
              !authForm.get('confirmPassword')?.hasError('required') &&
              authForm.hasError('passwordMismatch')
            "
          >
            Password and Confirm Password do not match.
          </div>
        </div>

        <div class="mb-3 text-end" *ngIf="isLogin">
          <a href="#" class="text-decoration-none text-primary small"
            >Forgot password?</a
          >
        </div>

        <button
          type="submit"
          class="btn btn-primary w-100 mb-3 shadow-sm d-flex justify-content-center align-items-center gap-2"
          [disabled]="isLoading"
        >
          <span
            *ngIf="isLoading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          <span *ngIf="!isLoading">{{ isLogin ? "Login" : "Signup" }}</span>
        </button>

        <div class="text-center">
          <span *ngIf="isLogin"
            >Not a member?
            <a (click)="switchMode(false)" class="clickable-link"
              >Signup now</a
            ></span
          >
          <span *ngIf="!isLogin"
            >Already have an account?
            <a class="clickable-link" (click)="switchMode(true)"
              >Login now</a
            ></span
          >
        </div>
      </form>
    </div>
  </div>
</div>
