<app-header></app-header>

<section class="hero">
  <div
    class="hero-content"
    style="
      background: url('assets/images/turf-bg-img.jpg') center/cover no-repeat;
      min-height: 400px;
      padding: 130px 20px;
      width: 100%;
      border-radius: 0px;
    "
  >
    <h1 class="text-style">Welcome to Maraccana Turf</h1>
    <h2>Book Your Turf Slot Easily</h2>
    <!-- Place the image in the assets/images folder as football-cricket-bg.jpg -->
    <p></p>
    <button class="cta-button" routerLink="/slot-booking">Book Slot Now</button>
  </div>
</section>
